<!DOCTYPE html>
<html class="no-js" lang="ru"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://www.albapasta.com/Aqualight/img/favicon.ico">
    <meta charset="UTF-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <title>I Love Donate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.css" media="all">
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap-theme.min.css" media="all">
    <link rel="stylesheet" href="resources/css/moon.css" media="all">
    <link rel="stylesheet" href="resources/css/index.css" media="all">
    <!-- <link rel="stylesheet" href="css/color.css" media="all"> -->
    <link href="resources/style.css" rel="stylesheet" type="text/css">
    <style></style>


</head>
<body style="">

<div class="full-container col-xs-12"> <!-- Full container -->

    <div class="container">

        <div class="block col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">


            <img src="resources/hexa.png" alt="logo">

            <h1>I Love Donate</h1>

            <h2>Помогать так легко</h2><!--
            <p><small>Subtext for header</small></p>-->

            <p><span class="glyphicon glyphicon-envelope"></span>Оставайтесь на связи</p>

            <form class="form-horizontal col-xs-10 col-xs-offset-1" role="form" id="mailForm">
                <div class="col-xs-8 form-send">
                    <div class="form-group">
                        <input type="email" class="form-control" id="mail" placeholder="Email" required="">
                        <input class="btn" type="submit" id="login" value="Send" style="visibility: hidden">
                    </div>
                </div>

                <div class="col-xs-4 form-send">
                    <div class="form-group">
                        <button  id="send" class="btn-send">Узнать о запуске</button>
                    </div>
                </div>
            </form>

        </div>

    </div>

</div>

<!-- End full container -->
<script type="text/javascript" src="resources/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="resources/js/jquery-ui.js"></script>
<script type="text/javascript" src="resources/js/validator.min.js"></script>
<script type="text/javascript" src="resources/js/subscribe.js"></script>



</body>
</html>